<section class="cover-1 text-center">
			<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
				<div class="container">
					<a class="navbar-brand" href="#"><p style="color: #e29b0d; font-size:32px; padding-top:40px">MicroConge</p></a>
					
				</div>
			</nav>
			<div class="cover-container pb-5">
				<div class="cover-inner container">
					<h1 class="jumbotron-heading">Presentamos <strong>MicroConge</strong></h1>
					<p class="lead">Un dispositivo capaz de congelar instáneamente tus alimentos y líquidos</p>
					<p class="lead"><strong>Preventa por $2,499.99</strong></p>
					<p>
						<a {{action 'sendEmail'}} href="#" class="btn btn-primary btn-lg mb-2 mr-2 ml-2">Lo quiero!</a>
					</p>
				</div>
			</div>
		</section>
		
		<section class="features-1 text-center">

			<div class="container">
				<h2>Características</h2>
				<div class="divider"></div>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/njqu8_EEMAQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<div class="row">
					<div class="col-md-4 col-feature">
						<div class="rounded-circle justify-center">
							<img src="icons/dinero.png">
						</div>
						<h4>Ahorrador</h4>
						<p>Más barato que los congeladores normales.</p>
						<p><a class="btn btn-outline-primary mt-2" href="#" role="button">Detalles</a></p>
					</div>
					<div class="col-md-4 col-feature">
						<div class="rounded-circle justify-center">
							<img src="icons/tiempo.png">
							
						</div>
						<h4>Rápido</h4>
						<p>El tiempo promedio de congelación es de 5 minutos, contra 30 minutos de los congeladores convencionales.</p>
						<p><a class="btn btn-outline-primary mt-2" href="#" role="button">Detalles</a></p>
					</div>
					<div class="col-md-4 col-feature">
						<div class="rounded-circle justify-center">
							<img src="icons/tamano.png">

						</div>
						<h4>Pequeño</h4>
						<p>Ocupa mucho menos espacio que un refrigerador pequeño.</p>
						<p><a class="btn btn-outline-primary mt-2" href="#" role="button">Detalles</a></p>
					</div>
				</div>
			</div>
		</section>
	

		<section class="contact-1">
			<div class="container">
				<div class="row contact-details">
					<div class="col-sm-8 text-center text-md-left mb-4">
						<h3>Pregúntanos algo</h3>
						<form class="contact-form mt-4">
							<div class="row">
								<div class="col-md-5">
									<input type="text" class="form-control-custom mb-4" placeholder="Nombre" value="Nombre">
								</div>
								<div class="col-md-5">
									<input type="text" class="form-control-custom mb-4" placeholder="Correo" value="Correo">
								</div>
								<br />
							</div>
							<div class="row">
								<div class="col-md-10">
									<textarea class="form-control-custom mb-4" rows="3">Tu mensaje</textarea><br />
									<button {{action 'sendEmail'}} type="submit" class="btn btn-primary btn-lg mb-4">Enviar mensaje</button>
								</div> 
							</div>
						</form>
					</div>
					<div class="col-sm-4 text-center text-md-left">
						<h3>Contacto</h3>
						<h4 class="pt-4">Email</h4>
						<p>contacto@microconge.mx</p>
						<h4 class="pt-2">Teléfono</h4>
						<p>771-220-44-22</p>
						<h4 class="pt-2">Dirección</h4>
						<p>Felipe Ángeles 2003<br />
						Pachuca, Hidalgo</p>
						
					</div>
				</div>
			</div>
		</section>
		
		<footer class="footer-4">
			<div class="container-fluid" style="padding-left:40px">
				<h3>MicroConge</h3>
				<div class="divider"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
						<p class="copyright">Copyright &copy; MicroConge. All rights reserved.</p>
					</div>
					<div class="col-md-6 text-center text-md-right mb-4">
						<ul class="social">
							<li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
							<li><a href="#" title="Twitter" class="fa fa-twitter"></a></li>
							<li><a href="#" title="Google+" class="fa fa-google"></a></li>
							<li><a href="#" title="Dribbble" class="fa fa-dribbble"></a></li>
							<li><a href="#" title="Instagram" class="fa fa-instagram"></a></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
			</div>
		</footer>